html {
  font-family: 'Roboto', sans-serif;
}

#textbody{
  font-size: 40px;
  font-family: sans-serif;
  color: #444;
}

/*
	https://stackoverflow.com/questions/2474605/how-to-convert-a-htmlelement-to-a-string
*/
.annotated{
    background: linear-gradient(0deg, green 1px, white 1px, transparent 1px);
    background-position: 0 100%;
}

.two {
    line-height: 24px;
    padding-bottom: 4px;
}
.three {
    line-height: 28px;
    padding-bottom: 8px;
}


.modal {
  position:absolute; 
  left:50%; 
  top:50%; 
  width:50%;
  height:50%;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
  background-color: #fafaff;
  padding: 1em 0.5em;
}

.modal hr {
  border:none;
  background-color: #999;
  height:1px;
}