.annotation-modal {
	position:absolute; 
	left:50%; 
	top:50%; 
	transform: translate(-50%, -50%);
	width:80%;
	height:80%;
	background-color: #BBB;
}

.hidden {
	display: none;
}

.hover {
	color: red;
}

.annotation-btn {
    background: linear-gradient(0deg, green 1px, white 1px, transparent 1px);
    background-position: 0 100%;
}

.annotation-btn:hover {
	color:red;
}