#textbody{
  font-size: 2rem;
  font-family: sans-serif;
  color: #444;
}

#updatedDescription{
  font-size: 1.75rem;
}

/*
	https://stackoverflow.com/questions/2474605/how-to-convert-a-htmlelement-to-a-string
*/

.annotated{
    background: linear-gradient(0deg, green 1px, white 1px, transparent 1px);
    background-position: 0 100%;
}

.two {
    line-height: 24px;
    padding-bottom: 4px;
}
.three {
    line-height: 28px;
    padding-bottom: 8px;
}